<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>home2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <label>Enrollmenr No :- {{dataComing.enro}}</label><br />
      <label>Full Name :- {{dataComing.name}}</label><br />
      <label>Email Id :- {{dataComing.email}}</label><br />
      <label>Phone No :- {{dataComing.mobile}}</label><br />
    </ion-card>
  </ion-list>
</ion-content>
